<div class="d-flex justify-content-center align-items-center h-100">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="p-2 d-flex flex-column justify-content-center">
        <input class="form-control" type="text" placeholder="Write your name..." ngModel name="username" required minLength="2" maxlength="30" #username="ngModel" autocomplete="off" autofocus>
        <span *ngIf="!username.valid && username.touched">Your name is too short</span>
        <div class="form-check form-switch mt-2">
            <input class="form-check-input focus-none" type="checkbox" role="switch" [(ngModel)]="save" name="save">
            <label class="form-check-label">Remember my name</label>
        </div>
        <button type="button" class="btn btn-primary mt-2" type="submit">enter</button>
    </form>
</div>