.scroll-down {
    padding: 0.225rem 0.6rem;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    animation: grow .25s linear;
}

.shrink {
    transform: scale(0);
    animation: shrink .25s linear;
}

.scroll-down:not(:hover) {
    background-color: #fff;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}