.userMentioned {
    background-color: #ffe69c;
}

p{
    white-space: break-spaces;
    overflow-wrap: break-word;
}


span.bold{
    font-weight: bold;
}

span.strike{
    text-decoration: line-through;
}

span.italic{
    font-style: italic;
}