<div class="container-fluid border border-3 rounded-3 my-2 p-1" [ngClass]="{'userMentioned': userMentioned}">
    <div class="row">
        <div class="col">
            <h6 class="position-relative">
                {{ message.username }}
            </h6>
            <p class="mb-0">
                <ng-template ngFor let-part [ngForOf]="messageParts">
                    <span [ngClass]="{
                        bold:part.isBold(),
                        strike:part.isStrike(),
                        italic:part.isItalic()
                    }" [ngSwitch]="part.type">
                        <app-mention *ngSwitchCase="MessageContentPartType.Mention">{{part.value}}</app-mention>
                        <a  class="e2e-trusted-url" *ngSwitchCase="MessageContentPartType.Link" target="_blank" [href]="part.value">{{part.value}}</a>
                        <span *ngSwitchDefault>{{part.value}}</span>
                    </span>
                </ng-template>
            </p>
            <p class="mb-0 ms-2 text-muted">
                <small>{{ message.time }}</small>
            </p>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-primary" (click)="onReplyClick()">Reply</button>
        </div>
    </div>


</div>