<div class="container-fluid border border-3 rounded-3 my-2 p-1">
    <div class="row">
        <div class="col">
            <h6 class="position-relative">
                {{ message.username }}
            </h6>
            <p class="mb-0">{{ message.content }}</p>
            <p class="mb-0 ms-2 text-muted">
                <small>{{ message.time }}</small>
            </p>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-primary" (click)="onReplyClick()">Reply</button>
        </div>
    </div>


</div>